<section class="section container">
	<strong> 
	This Website is created for the Perl course @ <a href="http://fmi.uni-sofia.bg/"> FMI </a> @ Sofia University! <br />
	For more information contact <a href="mailto:betrakiss@hotmail.com">betrakiss@hotmail.com</a>
	</strong> 
</section>