<!DOCTYPE html>
<html>
<head>
	<title> Movie World - The MovieBook </title>
	<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.css" />
	<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
</head>
<body>
<header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Movie World</a>
          <img class="navbar-brand" src="/images/logo.png" />
          
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
            </li>
            <li>
              <a href="/moviesearch">Find Movie</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/logintest">Login Test</a>
            </li>  
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% IF session.logged_in_user %>
            <li><a href="/profile">Hello, <% session.logged_in_user %>!</a></li>
            <li><a href="/logout">Logout</a></li>
            <% ELSE %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% END %>
          </ul>
        </div>
      </div>
</header>

<% content %>

<footer class="text-center">
	<hr />
	<div>View the Project on <a href="https://github.com/betrakiss/MovieWorld"> GitHub </a>!</div>
	<br />
	<a href="mailto:betrakiss@hotmail.com"> Angelin Nedelchev &reg 2015 </a>
</footer>

<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap.js"></script>
<script>
  function httpGet(theUrl, callback) {
    $.ajax({
      url: theUrl,
      method: 'GET'
    }).then(callback);
  }
</script>
</body>
</html>
